//Site background
$site-bgc: #ecf7f3;

// Fonts
$font-family: "Poppins", sans-serif;
$second-family: "Roboto", sans-serif;

//Colors
$text-accent: #ff8345;
$btn-color: #48b774;
$btn-active: #2e744a;
$text-base: #2d2d2d;
$light-text: #fff;
$active-link: #fb9b69;
